<p id="notice"><%= notice %></p>

<h1>Welcome <%= current_user.username %>!</h1>

<!-- <div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-body"><table class = "table table-striped">
      <thead>
        <tr>
          <th>Title</th>
          <th>Author</th>
          <th>Blog entry</th>
          <th> Time of Entry</th>
          <th colspan="3"></th>
        </tr>
      </thead>
    </div>
  </div>
</div> -->

  <div class="row">
    <div class="col-md-8">
      <% @posts.each do |post| %>
        <div class="panel panel-default">
          <div class="panel-heading">
            <%= post.title %>
            by <%= post.user.username %>
            <%= post.created_at.in_time_zone("America/Chicago") %>
          </div>
          <div class="panel-body">
            <%= image_tag post.avatar.url, size: 100 %><%= post.blog_entry %>

          </div>
          <div class="panel-footer">
            <%= link_to 'Show', post %>
            <%= link_to 'Edit', edit_post_path(post) %>
            <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
          </div>
        </div>
      <% end %>
    </div>
  </div>




<br>
<div class="panel panel-default">

  <div class="panel-footer"><%= link_to 'New Post', new_post_path %></div>
</div>

<style>
  .panel-footer{
    text-align: center;
  }
  </style>
